* {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
}

@font-face {
  font-display: swap;
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

.title {
  font-family: "SEGA LOGO FONT";
  font-size: 50px;
  font-weight: 900;
  color: #008080;
  padding: 30px;
}

.card {
  background-color: teal;
  border: 3px;
  margin: 30px;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card:hover{
  transform: translateY(-2%);
}
.contact {
  color: #ccc;
}

.CardComponent {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.searchToolBox {
  padding: 10px;
}
.searchTool {
  padding: 12px 20px;
  width: 400px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(0, 128, 128, 0.521);
  color: #ccc;
}
.spinner {
  background-color: white;
  padding: 20rem;
}

.loading{
  font-family: "SEGA LOGO FONT";
  font-size: 50px;
  font-weight: 900;
  color: teal;
  padding: 0 30px;
  text-align: center;
}