* {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
}

@font-face {
  font-display: swap;
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}


h1 {
  font-family: "SEGA LOGO FONT";
  font-size: 4vw;
  font-weight: 900;
  color: #ffffff;
  padding: 30px;
}

.filterBots{
  padding: 0 15px;
  font-size: 1.5vw;
  font-weight: 700;
  color: #ffffff;
}
 
.header {
display: flex;
justify-content: center;
align-items: center;
}

.spinner {
  background-color: white;
  padding: 20rem;
}

.loading{
  font-family: "SEGA LOGO FONT";
  font-size: 50px;
  font-weight: 900;
  color: #19A974;
  padding: 0 30px;
  text-align: center;
}