.card {
  background-color: rgb(39, 196, 196);  
  border: 3px;
  margin: 20px;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .card:hover {
transform: translateY(-3%);
/* flex-grow: unset; 
} */
/* .contct {
    text-align: center;
} */
